@import "../variables/colors";

.voyansi-btn-success {
  background: $voyansi-success;
  font-weight: bold;
  // ...
}

.voyansi-btn-link {
  background: $voyansi-link;
  font-weight: bold;
  // ...
}

.voyansi-btn-warning {
  background: $voyansi-warning;
  font-weight: bold;
  // ...
}
