@import "./variables/colors";
@import "./components/helpers.scss";
@import "./components/buttons.scss";
@import "./components/generic.scss";
@import "./variables/fonts.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

.vo-container {
  background-color: rgb(244, 244, 244);
  height: 100%;
  max-width: 100%;
  padding: 20px;
  position: absolute;
  overflow: auto;

  .v-is-success {
    color: green;
  }

  .v-is-failed {
    color: red;
  }
}

.vo-link {
  cursor: pointer;
  color: #00897b;
  &:hover {
    color: #13aa9b;
  }
}

.vo-snackText {
  color: teal;
}

.vo-card {
  margin-right: 20px;
  margin-bottom: 20px;

  &:not(:first-child) {
    margin-left: 20px;
  }
}

.vo-card-title-light {
  color: $voyansi-primary-1;
}

.vo-control-bar {
  margin-bottom: 30px;
  width: 100%;

  .v-toolbar__content {
    width: 100%;
  }

  #toggle-buttons {
    // float: right;
    & > .v-btn {
      width: 75px;
    }
  }
}

.vo-titlebar {
  -webkit-app-region: drag;

  .vo-titlebar-title {
    color: white;
    font-weight: 500;
  }

  .vo-titlebar-btn {
    color: $voyansi-support-1 !important;
    &:hover {
      color: white !important;
    }
    -webkit-app-region: no-drag;
  }
}

#details-container {
  background-color: rgb(255, 255, 255);
  height: 100%;
  width: 100%;
  max-width: 100%;
  padding: 20px;
  position: absolute;
  z-index: 10;
  left: -100%;
  overflow: auto;
  animation: slide-open 0.6s forwards;
  &.closed {
    left: 0;
    animation: slide-closed 0.5s forwards;
  }

  .back-btn {
    color: rgb(192, 192, 192);
    &:hover {
      color: black;
    }
  }

  #detail-specs {
    display: flex;
    flex-direction: column;
  }

  .main-btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    // padding-right: 2px !important;
    flex: 1;
  }
  .actions-btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 0 !important;
    min-width: 35px !important;
    margin-left: -3.5px;
  }
  .split-btn {
    display: inline-block;
    display: flex;
  }
}
.release-item {
  padding: 0;
  cursor: pointer;
  &:hover {
    background-color: rgb(222, 222, 222);
  }
  &:not(:last-child) {
    border-bottom: 1px solid rgb(192, 192, 192);
  }
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.img-wrapper {
  height: 120px;
  cursor: pointer;
}

@keyframes slide-open {
  100% {
    left: 0;
  }
}

@keyframes slide-closed {
  100% {
    left: -100%;
  }
}

.control-bar {
  margin-bottom: 30px;
  width: 100%;

  .vo-toggle-buttons {
    & > .v-btn {
      width: 75px;
    }
  }
}
